.container {
  display: flex;
  flex-direction: row;
  padding: 3%;
  justify-content: center;


  &__add {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-grow: 1;

    button {
      width: 200px;
      height: 150px;
      margin: 25px 63px;
      cursor: pointer;

      div {
        font-size: 10vh;
        color: grey;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        transition: 0.6s linear;

        &:hover {
          transition: 0.6s linear;
          transform: rotate(180deg) scale(1.5);
        }
      }
    }
  }

  &__dashboards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }
}

.dashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 300px;
  height: 150px;
  margin: 25px 63px;
  border: #cccccc 2px solid;
  cursor: pointer;
  transition: 0.5s linear;
  background: #fafafa;

  &:hover {
    transition: 0.5s linear;
    filter: brightness(80%);
  }

  &__info {
    flex-grow: 20;
    height: 100%;
    border-right: 1px solid black;

    .dashboard__name {
      display: block;
      text-align: center;
      flex-grow: 2;
      font-size: 1.3vw;
      width: 100%;
      height: 30%;
      padding-top: 5%;
      border-bottom: 1px solid black;
      word-wrap: break-word;
    }

    .dashboard__description {
      display: block;
      text-align: center;
      font-size: 1.3vw;
      flex-grow: 5;
      width: 100%;
      height: 70%;
      padding-top: 5%;
    }
  }

  &__features {
    display: flex;
    height: 100%;
    flex-direction: column;
    flex-grow: 1;

    button {
      cursor: pointer;
      height: 15%;
      width: 80%;
      margin: 10% auto;
    }

    .dashboard__delete {
      &:hover {
        background: #a62d2d;
        transition: 0.5s linear;
      }
    }

    .features__change {
      img {
        width: 10px;
      }
    }
  }
}


app-modal {
  .form_close {
    position: relative;
    left: 95%;
    background: #ec9d9d;

    &:hover {
      background: #a62d2d;
      transition: 0.5s linear;
    }
  }

  form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2% 5%;

    h1 {
      text-align: center;
    }

    input {
      width: 40%;
      margin: 2% 0;
    }

    .form_add {
      margin: 5%;
      width: 30%;
      height: 5vh;
    }
  }
}

.filter {
  display: flex;
  background: #efece4;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;

  &__title {
    padding-left: 2vw;
  }

  &__input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 40%;
  }
}

.filter__byName {
  width: 70%;
  height: 60%;
  border: 1px solid #e7c6c6;
  border-radius: 12px;
  text-align: center;
  transition: 0.5s linear;

  &:focus {
    transition: 0.5s linear;
    background: #efc2c2;
    color: white;
    width: 90%;
  }
}

.filter__container {
  display: flex;
  flex-direction: row;
  align-items: center;

  button {
    margin: 0 2vw;
    width: 10vw;
    height: 5vh;
    border: 1px solid #e7c6c6;
    border-radius: 12px;
    background: #e8b9b9;
    transition: 0.5s linear;
    min-width: 100px;
    min-height: 20px;

    &:hover {
      filter: brightness(110%);
      transition: 0.5s linear;
    }

    &:active {
      filter: brightness(70%);
      transition: 0.5s linear;
    }
  }
}



